#root {
    padding: 0; 
    margin: 0;
  }


.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/com.jpg');
    min-height: 100vh;
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image horizontally and vertically */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    color: #fff;
    margin: 0;
}

.container{
    background-color: rgba(10, 62, 37, 0.503);
    padding: 1em;
}

.container p{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)

}


.button {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.3em;
    color: #abf8fc;
}